:root {
    --main: #131415;
    --border-color: hsl(from var(--main) h s calc(l * 8) / 20%);
    --border-color-bright: hsl(from var(--main) h s calc(l * 8) / 60%);
    --accent: skyblue;
    --accent-two: #6bb0b2;
}

a {
    color: var(--accent);
}

.layout > .header {
    border-bottom: 1.5px solid var(--border-color);
    border-top: 1.5px solid var(--border-color);
}

.layout > .header input, .layout > .header button {
    background-color: hsl(from var(--main) h s calc(l * 2));
    color: hsl(from var(--main) h s calc(l * 10));

    border: 1.5px solid var(--border-color);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.layout > .content-container > .navigation {
    border-right: 1.5px solid var(--border-color);
}
.layout > .content-container > .navigation > .entry svg{
    color: hsl(from var(--main) h s calc(l * 10));
    stroke: hsl(from var(--main) h s calc(l * 10));
}
.layout > .content-container > .navigation > .entry{
    background-color: hsl(from var(--main) h s calc(l * 2));
    border: 1px solid var(--border-color);
}
.layout > .content-container > .navigation > .entry.selected{
    background-color: hsl(from var(--main) h s calc(l * 4));
    border: 1px solid var(--border-color);
}

.layout > .content-container > .content > .serverList > .server-card{
    background-color: hsl(from var(--main) h s calc(l * 2.5));
    border: 1px solid var(--border-color);
}

.layout > .content-container > .content > .serverList > .server-card .features .list .feature{
    background-color: hsl(from var(--main) h s calc(l * 4));
    border: 1.25px solid var(--border-color-bright);
}

.layout > .header .end-bar button {
    background-color: hsl(from var(--main) h s calc(l * 2));
    border: 1.5px solid var(--border-color);
}

.layout > .content-container > .content > .message-container .chats{
    border-right: 1.5px solid var(--border-color);
}
.layout > .content-container > .content > .message-container .chats .chat:hover{
    background-color: hsl(from var(--main) h s calc(l * 2));
}
.layout > .content-container > .content > .message-container .chats .chat .latestMessage{
    color: hsl(from var(--main) h s calc(l * 6));
}
.layout > .content-container > .content > .message-container .chats .chat .badge{
    background-color: hsl(from var(--main) h s calc(l * 6));
    color: hsl(from var(--main) h s calc(l * 1));
}

.layout > .content-container > .content > .message-container .chat-content .header{
    border-bottom: 1.5px solid var(--border-color);
}

.layout > .content-container > .content > .message-container .chat-content .editor-container {
    border-top: 1.5px solid var(--border-color);
}

.ql-toolbar {
    background: hsl(from var(--main) h s calc(l * 8));
    border: none;
}

.editor-container .rich-editor .editor {
    border: 1.5px solid var(--border-color-bright) !important;
}

.ql-toolbar button {
    color: hsl(from var(--main) h s calc(l * 1));
}

.ql-toolbar button:hover {
    color: hsl(from var(--main) h s calc(l * 1));
}

.ql-toolbar .ql-stroke {
    stroke: hsl(from var(--main) h s calc(l * 1));
}

.ql-toolbar .ql-fill {
    fill: hsl(from var(--main) h s calc(l * 1));
}

.ql-editor.ql-blank::before {
    color: hsl(from var(--main) h s calc(l * 8));
}

.layout > .content-container > .content > .message-container > .chat-content > .content > .message-container {
    background-color: hsl(from var(--main) h s calc(l * 3));
}
.layout > .content-container > .content > .message-container > .chat-content > .content > .message-container blockquote{
    border-left: 3px solid hsl(from var(--main) h s calc(l * 8));
    color: hsl(from var(--main) h s calc(l * 8));
    background-color: hsl(from var(--main) h s calc(l * 8) / 10%);
}
.layout > .content-container > .content > .message-container > .chat-content > .content > .message-container > .meta {
    color: hsl(from var(--main) h s calc(l * 6) / 100%);
}

.layout > .content-container > .content > .message-container > .chat-content > .content > .message-container > .content .mention-embed {
    background: linear-gradient(
        70deg,
        hsl(from var(--main) h s calc(l * 0.5) / 50%),
        hsl(from var(--main) h s calc(l * 1.5) / 50%)
    );
}
.layout > .content-container > .content > .message-container > .chat-content > .content > .message-container > .content > .mention-embed {
    border: 1.5px solid hsl(from var(--main) h s calc(l * 4) / 100%);
}