.layout > .content-container > .content > .message-page-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    margin: -1rem;
    overflow: hidden;
}
.layout > .content-container > .content > .message-page-container .chats.hide{
    display: none !important;
}
.layout > .content-container > .content > .message-page-container .chats{
    display: flex;
    flex-direction: column;

    height: 100%;

    max-width: 400px;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.layout > .content-container > .content > .message-page-container .chat-content.mobile{
    display: none !important;
}
.layout > .content-container > .content > .message-page-container .chat-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout > .content-container > .content > .message-page-container .chat-content > .content > .system-message {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.layout > .content-container > .content > .message-page-container .chat-content > .content > .system-message > hr {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
}
.layout > .content-container > .content > .message-page-container .chat-content > .content > .system-message > span {
    position: absolute;
    z-index: 2;
    padding: 4px 8px;
    border-radius: 1rem;
    font-size: 12px;
}

.layout > .content-container > .content > .message-page-container .chats > .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
}
.layout > .content-container > .content > .message-page-container .chats > .header h1{
    font-size: 18px;
}
.layout > .content-container > .content > .message-page-container .chats > .header span{
    display: flex;
    width: 20px;
    height: 20px;
    stroke: white;

    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}


.layout > .content-container > .content > .message-page-container .chats .chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: calc(100% - 2rem);
    height: fit-content;

    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.layout > .content-container > .content > .message-page-container .chats .chat .icon,
.layout > .content-container > .content > .message-page-container .chat-content .header .icon{
    width: 39px;
    height: 39px;

    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    flex-shrink: 0;

    border-radius: 50%;
    background-color: black;
}
.layout > .content-container > .content > .message-page-container .chats .chat .middle-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: fit-content;
    overflow: hidden;
}

.layout > .content-container > .content > .message-page-container .chats .chat .middle-section .meta{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.layout > .content-container > .content > .message-page-container .chats .chat .middle-section .meta .date{
    display: flex;
    justify-content: end;
    margin-left: auto;
    font-size: 12px;
}
.layout > .content-container > .content > .message-page-container .chats .chat .latestMessage {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
}
.layout > .content-container > .content > .message-page-container .chats .chat .latestMessage img,
.layout > .content-container > .content > .message-page-container .chats .chat .latestMessage video,
.layout > .content-container > .content > .message-page-container .chats .chat .latestMessage audio,
.layout > .content-container > .content > .message-page-container .chats .chat .latestMessage iframe{
    display: none;
}
.layout > .content-container > .content > .message-page-container .chats .chat .latestMessage p{
    position: relative;
    margin: 0;
    word-break: keep-all;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.layout > .content-container > .content > .message-page-container .chats .chat .badge.visible{
    display: flex;
}
.layout > .content-container > .content > .message-page-container .chats .chat .badge{
    display: none;
    margin-left: auto;

    border-radius: 50%;
    line-height: 0;

    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: end;


    font-weight: bold;
    font-size: 14px;

    width: 26px;
    height: 26px;

    min-width: 26px;
    min-height: 26px;
}

.layout > .content-container > .content > .message-page-container .chat-content .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}
.layout > .content-container > .content > .message-page-container .chat-content .header .back{
    display: flex;
}
.layout > .content-container > .content > .message-page-container .chat-content .header h1{
    font-size: 16px;
    margin: 0;
}

.layout > .content-container > .content > .message-page-container > .chat-content > .content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    padding: 1rem;

    flex: 1 1 auto;
    overflow: auto;
}

.layout > .content-container > .content > .message-page-container > .chat-content .editor-container {
    padding: 1rem;
    padding-bottom: 0;

    height: fit-content;
    margin-bottom: 1rem;
}

.chat-content .editor-container .ql-editor {
    max-height: 150px;
    overflow-y: auto;
}