@media (max-width: 1050px) {
    .layout > .header{
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .layout > .header .connection-bar{
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center !important;
        flex-wrap: wrap;
    }
    .layout > .header .connection-bar input{
        width: fit-content;
    }

    .layout > .content-container {
        flex-direction: column-reverse;
    }
    .layout > .content-container > .navigation{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        border-top: 1.5px solid var(--border-color);
        padding: 0.5rem;
        flex-wrap: wrap;
    }
    .layout > .content-container > .navigation .entry{
        padding: 0.5rem 1rem;
        flex: 1 1 auto;
    }

    .layout > .content-container > .content > .serverList > .server-card {
        width: 100% !important;
    }

    .layout > .content-container > .content > .message-page-container .chats .chat{
        gap: 0.5rem !important;
    }

    .ql-toolbar{
        display: none !important;
    }

    .rich-editor .editor,
    .ql-editor {
        border-radius: 2rem !important;
    }
}