.layout > .content-container > .content > .message-page-container > .chat-content * {
    box-sizing: border-box;
}

.layout > .content-container > .content > .message-page-container > .chat-content > .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container.mine{
    justify-content: end;
    margin-left: auto;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container{
    display: flex;
    flex-direction: column;

    border-radius: 6px;
    margin: 10px 0;

    padding: 0.25rem 0.5rem;

    width: fit-content;
    height: fit-content;

    max-width: 80%;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container > .content {
    display: flex;

    padding: 0;
    max-height: 400px;
    font-size: 14.5px;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container .content p{
    margin: 4px;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container blockquote{
    margin: 4px;
    padding-left: 0.5rem;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container > .meta {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 12px;

    padding: 0.1rem 0.25rem;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container > .meta p{
    margin: 0;
}

.layout > .content-container > .content > .message-page-container > .chat-content > .content img {
    width: 300px;

    max-height: 300px;
    max-width: 300px;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content iframe,
.layout > .content-container > .content > .message-page-container > .chat-content > .content video {
    width: 450px;

    max-height: 225px;
    max-width: 450px;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content iframe,
.layout > .content-container > .content > .message-page-container > .chat-content > .content img,
.layout > .content-container > .content > .message-page-container > .chat-content > .content video {
    position: relative;
    margin: 0.5rem 0;
    border-radius: 4px;
    height: auto;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content iframe{
    aspect-ratio: 16/9;
}

@media screen and (max-width: 1050px) {
    .layout > .content-container > .content > .message-page-container > .chat-content > .content img {
        width: 300px;

        max-height: 300px;
        max-width: 100%;
    }
    .layout > .content-container > .content > .message-page-container > .chat-content > .content iframe,
    .layout > .content-container > .content > .message-page-container > .chat-content > .content video {
        width: 450px;

        max-height: 225px;
        max-width: 100%;
    }
    .layout > .content-container > .content > .message-page-container > .chat-content > .content iframe{
        aspect-ratio: 16/9;
    }
}