.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container > .content > .mention-embed {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    padding: 0.75rem;
    border-radius: 6px;

    width: fit-content;
    height: fit-content;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container > .content > .mention-embed > .icon {
    width: 34px;
    height: 34px;

    border-radius: 50%;
    background-color: black;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
.layout > .content-container > .content > .message-page-container > .chat-content > .content > .message-container > .content > .mention-embed > .content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0;
    font-size: 14px;
}