name: Electron Multi-OS Build

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
w
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci
        working-directory: electron

      - run: npm install electron --no-save
        working-directory: electron

      - run: npm run build
        working-directory: electron

      - uses: actions/upload-artifact@v4
        with:
          name: dcts-${{ matrix.os }}
          path: electron/dist/
